<div data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="0">
    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
             <button class="menu-icon" type="button" data-toggle></button>
           </span>
        <a class="topbar-responsive-logo" href="#"><strong>Hatteras</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="#">MOTOR YACHTS</a></li>
            <li><a href="sportfish/index.html">SPORTFISH</a></li>
            <li><a href="index.html#!/experience">EXPERIENCE</a></li>
            <li><a href="#">REQUEST</a></li>
            <li><a href="#">OUR STORY</a></li>
            <li><a href="#">FIND A DEALER</a></li>
            <li>
              <button type="button" class="button hollow topbar-responsive-button">INVENTORY</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Yeti Snowcone Agency</h1>
    <p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus
      qui minus!</p>
    <a href="#" class="round button">learn more</a>
  </div>
</div>




<h3 style="font-size:60px; text-align:center;">Motor Yachts</h3>

<h2 style="text-align:center">VISIONARY DESIGN BEYOND EXPECTATIONS<br>On the bow of a Hatteras yacht, adventure lines the horizon and inhibitions are left in your wake. Through 60 years of signature innovation and design, Hatteras has crafted a legacy to which all others aspire. Every yacht utilizes bold form to merge indoor and outdoor spaces for ample entertainment areas, while skylights and windows bring cavernous staterooms to life. From their maiden voyage to every journey thereafter, Hatteras yachts deliver on the promise of a life without limits.
</h2>





<app-portfolio-lightbox portfolioURL='/assets/illustration.json'></app-portfolio-lightbox>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="https://www.hatterasyachts.com/media/2196/21_hatteras_90my_salon3cropped.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Yeti Snowcone Agency</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Yeti Snowcone Agency</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="https://www.powerandmotoryacht.com/.image/t_share/MTUxNTM0NjcyOTQ0MzA5NDc4/prm_hatteras-m90-panacera.jpg" alt="" />
  </div>
</div>


<div class="rounded-social-buttons">
  <a class="social-button facebook" href="#"></a>
  <a class="social-button twitter" href="#"></a>
  <a class="social-button linkedin" href="#"></a>
  <a class="social-button youtube" href="#"></a>
  <a class="social-button instagram" href="#"></a>
  <a class="social-button pinterest" href="#"></a>
  <a class="social-button google-plus" href="#"></a>
  <a class="social-button github" href="#"></a>
  <a class="social-button tumblr" href="#"></a>
</div>








<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">ET718</h4>
      <p>Building and maintaining websites.</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>Queensborough Community College
          <br>Bayside, NY 11364
        </p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>1 3476306338</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>jjojjosteve@gmail.com</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Photos</h4>
      <div class="row small-up-3">
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://placehold.it/75" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 No rights reserved</p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>